<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 align="center">Registration</h1>
    <%= simple_form_for @user do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.submit 'Sign up', class: 'btn btn-primary' %>
      <%= link_to 'Sign in', new_sessions_path %>
    <% end %>
  </div>
</div>
