<section>
  <p style="font-size: 22px;">
    Первый в мире удобный менеджер флеш-карточек. Именно так.
  </p>
</section>

<%= simple_form_for @card, url: check_word_path, method: :post do |f|%>
  <%= f.input :id, as: :hidden, default: @card.id %>
  <div class="row">
    <div class='col-md-6'>
      <%= f.input :checking_word %>
    </div>
    <div class='col-md-6'>
      <%= f.input :translated_text, as: :text, disabled: true %>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6">
      <%= f.button :submit, 'Check word' %>
    </div>
  </div>
<% end %>
