<section>
  <p style="font-size: 22px;">
    Первый в мире удобный менеджер флеш-карточек. Именно так.
  </p>
</section>

<%= simple_form_for current_user, url: update_current_deck_users_path, method: :put do |f| %>
  <%= f.input :current_deck, collection: @decks, class: 'form-control'  %>
  <br>
  <%= f.submit 'Change deck', class: 'btn btn-default' %>
<% end %>

<% if @card.present? %>
  <h4><%= @card.deck.name %></h4>
  <%= form_tag check_word_path, method: :post do %>
    <%= hidden_field_tag :id, @card.id %>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag @card.picture_url(:thumb), id: 'picture' if @card.picture?  %>
      </div>
      <div class='col-md-6'>
        <p>
          <%= text_area_tag :translated_text, @card.translated_text, { class: 'form-control', disabled: true } %>
        </p>
      </div>
      <div class='col-md-6'>
        <p>
          <%= text_field_tag :original_text, nil, { class: 'form-control' } %>
        </p>
      </div>
      <div class="col-md-6">
        <%= submit_tag 'Check word', { class: 'btn btn-primary' } %>
      </div>
    </div>
  <% end %>
<% end %>
