<table class="table">
  <thead>
    <tr>
      <th>
        Deck
      </th>
      <th>
        Original Text
      </th>
      <th>
       Translate Text
      </th>
      <th>
        Review Date
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
    <tr>
      <td>
        <%= card.deck.name %>
      </td>
      <td>
        <%= card.original_text %>
      </td>
      <td>
        <%= card.translated_text %>
      </td>
      <td>
        <%= card.review_date.strftime("%d %b %y") %>
      </td>
      <td>
        <%= link_to 'Edit', edit_card_path(card), class: 'btn btn-warning btn-sm' %>
      </td>
      <td>
        <%= button_to 'Delete', card, method: :delete, class: 'btn btn-danger btn-sm' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
