<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <section id="container">
        <header class="clearfix">
          <% if current_user.present? %>
            <h1>FlashCards</h1>
            <ul class="navigation-links">
              <li><%= link_to 'Main', root_path %></li>
              <li><%= link_to 'Cards', cards_path %></li>
              <li><%= link_to 'Add to card', new_card_path %></li>
              <li><%= link_to 'Edit profile', edit_users_path %></li>
              <li><%= link_to 'Exit', sessions_path, method: :delete %></li>
            </ul>
          <% else %>
          
          <% end %>
        </header>
        <div class="row">
          <%= notice %>
        </div>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
