<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <section id="container">
        <header class="clearfix">
          <h1>Флэшкарточкер</h1>
          <ul class="navigation-links">
            <li><%= link_to 'Все карточки', cards_path %></li>
            <li><a href="#" class="btn btn-primary btn-lg">Добавить карточку</a></li>
          </ul>
        </header>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
